[2016-04-28 07:46] fmallet opened #20 "Fix un-handled exceptions in TFVC plugins"
Following exceptions are not being handled in the TFVC plugin that is causing the plugin to not function properly in some scenarios:

- IndexOutofBoundsException in GetBranchHistory[0][0] :Although this index in array should always be present, sometimes, the user may have changed the source path to something invalid.

- DestroyedContentUnavailableException: This error occurs when the file associat

[2016-04-28 07:49] fmallet opened #21 "Handle Exception on a failed download"
If the Sonar TFVC Plugin fails to download a particular historical revision, it crashes due to an unhandled exception. This in turn causes the sonar-runner to crash.
Ideally, a download failure should cause the annotation to fail for the file and then allow the sonar-runner to continue.
The download failure may happen due to authentication or network issues.

Relates to #19

[2016-04-28 07:49] #21 closed

[2016-04-28 07:50] #20 closed

[2016-04-28 07:51] fmallet opened #22 "If you don't configure sonar.tfvc.collectionuri and use TFS 2015 or TFVC, the plugin silently fails"
Install the TFVC SCM plugin and run a build + analysis, but do not set sonar.tfvc.collectionuri.
Assuming TFS 2015 is used, the plugin will fail with some warnings that are not very helpful in understanding the problem. I propose we improve the error message to clearly state that a possible cause for this is not setting sonar.tfvc.collectionuri

13:44:30.789 WARN - Missing blame information for th

[2016-04-28 07:53] fmallet opened #23 "The annotations text is too long when using windows live IDs"
1. Use VSTS and use a live ID to connect
2. Use the TFVC SCM plugin

Actual: the username strings are "windows live id/ someuser@outlook.com" - this gets truncated to "window..." (see atached picture)

Expected: do not use the "windows live id" prefix

[2016-04-28 07:54] fmallet commented on #23
![image](https://cloud.githubusercontent.com/assets/548729/14879039/2daa8810-0d27-11e6-98e4-fdf4697fc07a.png)

[2016-04-28 07:56] fmallet opened #24 "See through merging and branching changesets"
Only EDIT changes are checked at the moment.
But perhaps MERGE and BRANCH changes should also be checked.

Steps to reproduce:
- Create a file, make a few edits and check-ins
- Now branch it: {{tf branch file.txt branched_file.txt}}
- Check the change in
- The annotation will fail on {{branched_file.txt}}, with the error message {{Unable to TFS annotate the following file which is not yet checked-

[2016-04-28 08:01] fmallet opened #25 "Remove VS/TFS SKU dependency and make TFVc plugin depend only on TFS OM SKU"
Currently, TFVC Plugin fails if Visual Studio of Team Foundation Server SKU is not installed. This ticket is to track making TFVC plugin work with only TFS OM SKU.

Some more related info :

Dinesh Bolkensteyn added a comment - 47 minutes ago - edited
Hello Vishnupriyan Radhamanalan, Mathew Aniyan
Just a quick message to let you know (if it was not the case) that the TFS 2015 Object Model now ship

[2016-04-29 15:39] dbolkensteyn opened #26 "TFVC SCM auto-detection does not work when using server workspaces (such as from within TFS 2013 Builds)"
It seems that no hidden `$tf` folder gets created by TFS 2013 in its `Build` directory. Therefore, the SCM detection fails.

However, when `/d:sonar.scm.provider=tfvc` is explicitly set, the TFVC SCM plugin is able to successfully import SCM data.

The TFVC SCM plugin should probably rely on TFVC APIs to determine whether or not a folder is part of a workspace - rather than rely on the presence of

[2016-05-02 12:03] dbolkensteyn opened #27 "Fix the plugin homepage & issue tracker links"
Both the plugins documentation and issue tracker are now on GitHub.

[2016-05-02 12:13] dbolkensteyn opened #28 "Stop signing the produced assemblies with SonarSource's key"
As the TFVC SCM plugin is a community one, its assemblies should not be signed using SonarSource's strong name key.

[2016-05-02 12:16] dbolkensteyn opened #29 "Remove the "Developed by SonarSource" mention in the update center"
![image](https://cloud.githubusercontent.com/assets/1132601/14954192/aabb1256-1070-11e6-938b-350b359b0578.png)

[2016-05-02 12:20] #27 closed

[2016-05-02 12:26] #28 closed

[2016-05-02 12:43] #29 closed

[2016-09-01 20:47] zmckinnon opened #33 ""IOException thrown in the TFVC annotate command : The pipe is being closed""
I am getting the following exception when I run my on on-prem "Finish the analysis" task for SonarQube if this plugin is installed on SonarQube:

[code]

Entire log attached.
[logs_41370.zip](https://github.com/SonarQubeCommunity/sonar-scm-tfvc/files/450664/logs_41370.zip)

I am using TFS 2015.

[2016-09-06 14:13] fmallet commented on #33
Hi Zachary, this is a community plugin on which there is no clear leadership. If you want we can give you the permissions to apply a patch by yourself.

[2016-09-23 18:03] wesmacdonald commented on #33
Hi,

On a TFS 2015 Server you must install the TFS 2013 Object Model or Team Explorer 2013 on the machine with the build Agent and then this issue will be resolved.

https://visualstudiogallery.msdn.microsoft.com/3278bfa7-64a7-4a75-b0da-ec4ccb8d21b6

[2017-01-03 13:04] sopelt commented on #24
Hello, any chance that there is progress on this front in the foreseeable future? I noticed that there is a PR at https://github.com/SonarQubeCommunity/sonar-scm-tfvc/pull/32 concerned with this that is yet to be reviewed/commented/integrated.
Kind regards

[2017-04-04 05:14] gsf-at-eon opened #34 "sonar-scm-tfvc cannot be used for gated check-ins"
I think the behaviour of sonar-scm-tfvc is incorrect when used with gated check-ins. A TFVC gated check-in creates a shelveset of the changes that are 'gated' and uses the success of the build to determine whether the shelveset is then merged to the relevant branch. However, SonarTfsAnnotate reports that the code in the shelveset has not been check-in and refuses to analyse the code. Here is the o

[2017-04-07 08:24] dumians opened #35 "Error on TFS 2017 update 1 on prem"
Hi
I am using the plugin with sonra 6.3 and tfs 2017 update 1 on prem. i got following error

ERROR: Unable to TFS annotate the project which raised the following authentication exception: TF30063: You are not authorized to access .

Regards,
Johannes

[2017-04-27 12:47] sorgeas opened #36 "Use TFS 2015 object model instead of TFS 2013 ones"
I'd like to avoid installing TFS 2013 object model on TFS 2015/2017 on prem. Could you please upgrade the plugin?

[2017-05-04 07:19] marc-pinyol opened #37 "Unable to automatic assign issues"
Hi,

We're facing problems with functionality of automatically assign issues. Checking logs we see this error that we believe that is related:

##[error]ERROR: Unable to TFS annotate the project which raised the following authentication exception: TF30063: You are not authorized to access https://XXXXXXX.visualstudio.com/DefaultCollection/.
##[error]WARN: Missing blame information for the followin

[2017-07-21 08:03] simondel opened #38 "Changelog"
Where can I find the changelog for this plugin?

[2017-07-21 08:03] simondel opened #39 "Supported SonarQube versions"
Which SonarQube versions are supported for the 2.1.2 plugin?

[2017-07-21 10:04] jabbera commented on #39
This plugin has no maintainer:-(

[2017-08-01 05:28] HamsterExAstris opened #40 ""Unable to TFS annotate the following file which is not in a mapped TFS workspace""
While SonarQube can correctly do annotation when I run the compile locally, it's not working for TFS from us. It keeps erroring with "Unable to TFS annotate the following file which is not in a mapped TFS workspace" on all of the files.

I know there have been some attempts in the past to solve this issue (https://github.com/SonarQubeCommunity/sonar-scm-tfvc/pull/7, https://github.com/SonarQubeCom

[2017-08-02 15:32] jabbera commented on #40
This plugin has no maintainer:-(

[2017-10-04 05:01] BlackAngelTiger commented on #24
Hello, I would also like to see this enhancement been implemented. This is one of the blocker for use to use the TFVC integration in SonarQube.

[2017-10-04 12:00] jabbera commented on #24
No one is supporting this plugin anymore. I’m sure sonar is taking volunteers.

[2017-12-14 14:02] dbmeneses opened #41 "Usage of deprecated SonarQube API < 5.6"
The SonarQube API that was deprecated before version 5.6 will dropped soon.
It can be tested with SonarQube artifact 7.0.0.34895 (or newer one from the branch 'feature/dm/sq56').

More information: https://jira.sonarsource.com/browse/SONAR-10138

[2018-05-11 19:02] wilsade commented on #35
Same here

[2018-05-11 19:05] wilsade opened #42 "Support visual Studio 2017"
It does not work with Visual Studio 2017.

Thanks,

[2018-08-13 20:48] nschonni opened #43 "Use the Team Services SDK for Java instead of the .Net object model"
https://github.com/Microsoft/team-explorer-everywhere includes the SDK (not sure why it's all lumped together)

This would make the plug-in compatible with non-Windows installations too. #25 would also be good, but only address it for the Windows installations

[2018-10-30 14:47] mstaessen opened #45 "Sonar-scm-tfvc does not work with Sonarqube 7.4"
Plugin still relies on deprecated APIs, which causes the plugin to break on 7.4.

[code]

[2018-10-30 18:02] jabbera commented on #45
I don't believe anyone is maintaining this plugin anymore.

[2018-12-21 00:24] ws11606 opened #47 "Please build a new release which supports SonarQube 7.4"
Can someone please build a new release which supports SonarQube 7.4? The latest release 2.1.2 does not support SonarQube 7.4. I tried to compile latest master branch source files sonar-scm-tfvc-master/pom.xml with "mvn package" but getting this error:
[ERROR] Failed to execute goal org.codehaus.mojo:exec-maven-plugin:1.3.2:exec (msbuild-build) on project SonarTfsAnnotate: The parameters 'executabl

[2018-12-21 20:09] michha commented on #47
This is a duplicate of #45 and #46

[2018-12-21 21:00] ws11606 commented on #47
Hi michha,
You are correct in that a fix has been added to resolve this but there has been no new releases since 2.1.2. Can someone build latest source code and publish new release? Thx.
https://github.com/SonarQubeCommunity/sonar-scm-tfvc/releases

[2018-12-27 22:46] dbolkensteyn commented on #47
Regarding the build error, you'll need to set the `MSBUILD_PATH` environment to point to `msbuild.exe`, similarly as to what is done in the AppVeyor build: https://github.com/SonarQubeCommunity/sonar-scm-tfvc/blob/master/appveyor.yml#L14

Why is that so?
1. This project contains both Java and C# code. The Java bits is built with Maven, and the C# bits by MSBuild.
2. However, the overall build is o

[2018-12-27 23:45] ws11606 commented on #47
Thanks @dbolkensteyn for your help. After setting set MSBUILD_PATH="F:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\MSBuild.exe", I was able to successfully build the Maven pom.xml which created sonar-scm-tfvc-plugin-2.2-SNAPSHOT.jar. Unfortunately, I can't test it until I upgrade dev SonarQube environment to 7.4 which is currently 6.5 and uses old SQL server 2012.

[2018-12-28 09:19] wilsade commented on #42
Hi there.
How can I make it work with Visual Studio 2017?
I am using Sonar 6.7.5.38563.
Thanks.

[2018-12-28 09:20] wilsade commented on #40
HI.
Does it works with Visual Studio 2017?
I am using Sonar 6.7.5.38563.
Thanks.

[2019-01-08 19:58] psyvision commented on #47
@ws11606 have you managed to test this yet?  Did you make any code changes (i.e. the open PR for 7.3 compatibility) or just compile `master` ?

[2019-01-08 20:20] ws11606 commented on #47
Hi @psyvision
I haven't had chance to test it. I'm still waiting for SQL server 2016 for Dev SQ environment. I need this ASAP from SQL team because all I have now is Prod SQ... :( Will post when I've tested. So right now, I only have the master branch compiled .jar file.

[2019-01-08 20:58] psyvision commented on #47
Thanks @ws11606 - I've got 7.5 up and running now and have a MSBuild/Maven environment so I should be able to get this compiled and give it a test pretty quick.

[2019-01-18 13:08] ManojCN commented on #47
Hi All,
Can someone build latest source code and publish new [release](https://github.com/SonarQubeCommunity/sonar-scm-tfvc/releases)? or is it done?

BR//Manoj C N

[2019-01-26 02:32] ws11606 commented on #47
I finally acquired SQL server 2016 for testing SQ 7.5 TFVC plugin.
After copying newly compiled sonar-scm-tfvc-plugin-2.2-SNAPSHOT.jar to the plugin folder and starting SQ, it failed. Hope someone can help. Here's log:

2019.01.25 18:24:15 INFO  web[][o.s.s.p.ServerPluginRepository] Deploy plugin TFVC / 2.2-SNAPSHOT / 0
2019.01.25 18:24:15 WARN  web[][o.s.c.p.PluginLoader] API compatibility mode i

[2019-01-29 15:21] bogoreser commented on #35
Hi,
I just had the same issue, but as we tried to solve it, it was a missing permission of my used SonarQube user who didn't have access to the project key on the server. The error message was not correct, stating it is an authentication problem on the TFS side.
Perhaps it is similar to your environment.

[2019-02-05 06:16] TomaszDom commented on #47
So is anybody any closer to making this work?

[2019-02-12 07:54] TomaszDom commented on #47
What a nightmare to build. I've attached a build of https://github.com/SonarQubeCommunity/sonar-scm-tfvc/pull/44/commits/f1342cfaeb27076ea8e3b6234942328b7b45dc35 which supposedly should work better with later versions of SonarQube.

I DID NOT TEST THIS.

[sonar-scm-tfvc-plugin-2.2-SNAPSHOT.jar.zip](https://github.com/SonarQubeCommunity/sonar-scm-tfvc/files/2854656/sonar-scm-tfvc-plugin-2.2-SNAPSHO

[2019-02-12 09:37] wilsade commented on #47
Hi @TomaszDom.
I tested it.
I've got error: System.IO.FileNotFoundException, Microsoft.TeamFoundation.Client, Version=12.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a.

Can you, please, recompile with version 15.0 (compatible with Visual Studio 2017).
Thanks

[2019-02-12 11:23] thelittleflea commented on #47
Hi @TomaszDom, @wilsade,
I've done something a little ugly, but it works for me. I just unzip 2.1.6 version in order to get SonarTfsAnnotate.exe. Then I add it manualy into your 2.2-SNAPSHOT build.
It works for me with TFS2015.4 and Sonarqube 7.6.

I hope this could help.

[sonar-scm-tfvc-plugin-2.2-SNAPSHOT.jar.zip](https://github.com/SonarQubeCommunity/sonar-scm-tfvc/files/2855508/sonar-scm-tfvc

[2019-02-12 11:29] wilsade commented on #47
Hi @thelittleflea .
My issue is that I only have VS2017 installed.
I'm afraid this workaround wont work for me.

Regards,

[2019-02-12 11:37] TomaszDom commented on #47
@wilsade install https://visualstudiogallery.msdn.microsoft.com/3278bfa7-64a7-4a75-b0da-ec4ccb8d21b6/file/116382/1/tfs_ObjectModel.exe on the machine where you run MSBuild and report back.

[2019-02-12 11:40] TomaszDom commented on #47
@thelittleflea My package is a clean successful rebuild of the mentioned branch, there is no need for ugliness I think. I'm successfully scanning VS2015 Update 3 projects, no issues so far.

[2019-02-12 11:41] thelittleflea commented on #47
What is your Tfs assembly version ? You can take a look into your Tfs Agent folder (ie: .. Tfs\agent-1\Agent\Worker)
First I build the exe file using 15.0.0.0 version of Tfs assembly. But it dosn't work for me (TFS2015 14.0.0.0)
Here is the file if you want to test.
[SonarTfsAnnotate.zip](https://github.com/SonarQubeCommunity/sonar-scm-tfvc/files/2855609/SonarTfsAnnotate.zip)

[2019-02-12 11:43] thelittleflea commented on #47
@TomaszDom
Sorry for the Uglyness. But i had the same exception as @wilsade. Strange

[2019-02-12 11:46] TomaszDom commented on #47
@wilsade I have TFS2017.3 on-premises, but the difference is that it has been upgraded on the same machine from TFS2008 -> 2010 -> 2012 -> 2013 -> 2015 -> 2017, so I probably have all the legacy libraries needed to make it work...

[2019-02-12 18:39] psyvision commented on #47
I think the problem is you'll use the TFS binaries from a particular version and it won't work with another TFS version.

It may be further problematic with Git in TFS as opposed to the TFVC that this was originally designed for?

[2019-02-13 01:55] ws11606 commented on #47
Thanks @TomaszDom . I tried your build and it worked for me on SQ 7.6. Maybe I previously incorrectly built it.

FYI, there's a newer version of Team Foundation Server 2013 Update 5 Object Model Installer at:
https://marketplace.visualstudio.com/items?itemName=VSCSReleases.TeamFoundationServer2013Update5ObjectModelInstalle

Unfortunately, TFVC changes at the source file level no longer shows who m

[2019-02-13 10:03] colin-mueller-sonarsource commented on #47
Just a reminder to all -- this repo is in the SonarQubeCommunity organization and has no maintainer, so no PRs are likely to be merged. If anybody is interested in formally adopting / taking over this plugin and making new releases, drop a note at https://community.sonarsource.com

[2019-02-18 09:18] SirBisgaard commented on #47
Hi,
I installed the snapshot on our environment.
We are currently running the following: SQ 7.6, TFS 2018 and SqlServer 2017.

The snapshot works and does not crash like the latest release. But have the same experience as @ws11606

@colin-mueller-sonarsource Does this mean that SonarSource is not planning to support this plugin in the future?
- Not that I'm complaining now that microsoft is heavil

[2019-02-19 10:01] colin-mueller-sonarsource commented on #47
Hey @SirBisgaard,

Correct, this plugin has not been maintained, supported, or developed by SonarSource in a few years.

Colin

[2019-02-19 14:38] SirBisgaard commented on #47
Hey Colin,
This might not be relevant here. I have compiled both projects of the plugin, and everything is working as expected. (That it can scrape changeset id, username, unix time) So the problem might be in SonarQube itself, or is the API changed for the plugin interface?

[2019-07-16 18:10] lg2de commented on #33
As already stated, the TFS Object Model is required.
I've started #48 to switch to the Microsoft.TeamFoundationServer.ExtendedClient package in next release.

[2019-07-16 18:10] #33 closed

[2019-07-16 18:12] lg2de commented on #35
This issue is quite old and I'm unable reproduce it.
So, I going to close it for now.
Feel free to reopen if needed.

[2019-07-16 18:12] #35 closed

[2019-07-16 18:17] lg2de commented on #25
With #48 I'm planning to switch to Microsoft.TeamFoundationServer.ExtendedClient package, which should solve this issue.

[2019-07-16 18:19] lg2de commented on #36
#48 is ongoing therefore.

[2019-07-16 18:20] lg2de commented on #37
This is an authentication issue.
I'm unable to reproduce it, therefore I close it for now.
Feel free to reopen with further details.

[2019-07-16 18:20] #37 closed

[2019-07-16 18:23] lg2de commented on #38
The only changelog available is this: https://github.com/lg2de/sonar-scm-tfvc/releases

I recently took responsibility for this repository. I don't have enough time and energy to clear up the past.

[2019-07-16 18:23] #38 closed

[2019-07-16 18:24] lg2de commented on #39
I recently took responsibility for this repository.
From my own experiance I can only state, that the new version 2.2 is supporting SonarQube API up to 7.9.1.

[2019-07-16 18:24] #39 closed

[2019-07-16 18:26] lg2de commented on #40
This issue is quite old and I'm unable to reproduce it.
Therefore I'm going to close it for now.
Feel free to reopen with further details.

[2019-07-16 18:26] #40 closed

[2019-07-16 18:28] lg2de commented on #41
Fixed with #44 and #49.

[2019-07-16 18:28] #41 closed

[2019-07-16 18:29] lg2de commented on #42
#48 is planned for next release to solve this issue.

[2019-07-16 18:32] lg2de commented on #43
I have no experience with the mentioned package. I'm looking forward to a PR that we can test it with.

[2019-07-16 18:34] lg2de commented on #45
The new version 2.2 is working fine with SQ 7.7 to 7.9.

[2019-07-16 18:34] #45 closed

[2019-07-16 18:38] lg2de commented on #47
The new release 2.2 is working fine with SQ 7.4 to 7.9.

[2019-07-16 18:38] #47 closed

[2019-08-22 11:20] lg2de commented on #42
@wilsade Would you like to test a [snapshot version](https://ci.appveyor.com/api/buildjobs/kbm0ae00l6060lq8/artifacts/sonar-scm-tfvc-plugin%2Ftarget%2Fsonar-scm-tfvc-plugin-2.3-SNAPSHOT.jar)?

[2019-08-22 11:20] lg2de commented on #36
@sorgeas Would you like to test a [snapshot version](https://ci.appveyor.com/api/buildjobs/kbm0ae00l6060lq8/artifacts/sonar-scm-tfvc-plugin%2Ftarget%2Fsonar-scm-tfvc-plugin-2.3-SNAPSHOT.jar)?

[2019-08-23 14:44] sorgeas commented on #36
I've setup the 2.3-SNAPSHOT on SonarQube 6.7.3.38370 to communicate with an onprem TFS 2018.
I'm getting the following error:

`ERROR: SCM-TFVC: Unable to annotate the project which raised the following authentication exception: TF30063: You are not authorized to access https://mytfs/tfs/projectcoll.`

Could you please let me know if this version also supports TFS 2018? Should I use my domain user

[2019-08-23 15:41] lg2de commented on #36
We are using always PAT to be configured at `https://[...]/admin/settings?category=scm`.

I'm glad to hear you succeeded.
So, this feature will be included in next release.

[2019-08-23 15:41] #36 closed

[2019-08-23 16:09] lg2de commented on #26
I guess, this is really relevant anymore. The current build system is always using local workspace.

So, I'm going to close this (quite old) issue.
Feel free to reopen if still an issue for you.

[2019-08-23 16:09] #26 closed

[2019-09-02 17:50] wilsade commented on #42
Hi.
I tried to use. Two issues:
1. Error message saying that there is no TFS mapped working forder for my file.
2. My antivurus bloqued SonarTfsAnnotate

[2019-09-03 07:53] lg2de commented on #42
@wilsade
Regarding 1) Please provided detailed log information. Are other files processed correctly? Maybe it is subsequent fault of 2).
Regarding 2) I do not know how to prevent from this. Did your antivirus identified a specific issue? Please provide more details. Would you like to check the EXE for you own with e.g. virustotal.com? Just now I checked and "SecureAge APEX" decided for "Malicious"

[2019-10-04 07:31] lg2de commented on #42
With the [new analysis](https://www.virustotal.com/gui/file/14d0db0f6ea662510e93eb7bd60b25a6b62f72e593ff0d399c326bba91cc2404/detection) the EXE is "green" now on virustotal.com.

[2019-10-04 07:40] lg2de commented on #25
Fixed with #48.

[2019-10-04 07:40] #25 closed

[2019-10-04 07:40] lg2de commented on #42
Fixed with #48.

[2019-10-04 07:40] #42 closed

[2019-10-04 12:15] wilsade commented on #42
Hi.
Can you provide a Release so I can test it?
Thanks,

[2019-10-04 17:48] lg2de commented on #42
I want to add more fixes before releasing a new version.
But you can test (again) the test build linked above or this newer one:
https://ci.appveyor.com/project/lg2de/sonar-scm-tfvc/builds/27882763/artifacts

[2019-11-22 16:44] lg2de commented on #22
Hey @fmallet, today I've completed testing configuration validation in #53.
Do you like to test the [preview build](https://ci.appveyor.com/api/buildjobs/vs6tfcww4yge5nso/artifacts/sonar-scm-tfvc-plugin%2Ftarget%2Fsonar-scm-tfvc-plugin-2.3-SNAPSHOT.jar)?

[2019-12-11 16:17] #22 closed

[2020-01-17 09:00] lg2de commented on #23
Hey @fmallet , would you like to test the pull request build from [appveyor](https://ci.appveyor.com/api/buildjobs/h32po7kr4jbilkvk/artifacts/sonar-scm-tfvc-plugin%2Ftarget%2Fsonar-scm-tfvc-plugin-2.3-SNAPSHOT.jar)?

[2020-01-17 09:38] lg2de commented on #24
Recently I created a new SQ project for a branch in TFS.
I found that the annotation in SQ is correct with the current plugin version.
Maybe it is fixed in between either by the plugin code (before I tool repository responsibility) or by the TFS API.

Therefore I'm going to close this issue.

If you think the problem is still existing, do not hesitate to contact me.

[2020-01-17 09:38] #24 closed

[2020-02-06 07:40] #23 closed

[2020-04-01 13:17] ntwbrown opened #57 "SCM-TFVC: Unable to annotate the project which TF400324"
Hello, I am using **SonarQube Community Edition Version 8.2** (build 32929)
T**FS 2017 Version 1** (on prem)
with **SonarQube TFVC Plugin 2.3** (sonar-scm-tfvc-plugin-2.3.0-73)

I have configured TFVC as at global level Administration > Configuration > SCM > TFVC with PersonalAccessToken (with sufficient rights) and **CollectionURI**

Within the ‘Prepare the SonarQube analysis’ Build step, I have

[2020-04-16 19:13] DEYS commented on #57
I'm getting the same issue.  I'm using the same plugin version but TFS 2019

![image](https://user-images.githubusercontent.com/12831058/79496810-ada15280-7ff4-11ea-84f6-9b8f41b2315e.png)

[2020-04-16 19:31] mikejhill opened #58 "Non-TFS projects are broken with "Missing configuration for CollectionUri""
We have several projects in SonarQube, some of which use TFS and some of which do not. All projects use auto-detection for the SCM provider. We recently updated to TFVC version 2.3.0 and now analysis for non-TFS projects breaks with the following message:

[code]

<details>
<summary>Full stack trace</summary>

[code]
</details>

It seems like this might be a regression in #53. Setting `sonar.tfvc.

[2020-04-30 07:05] SebastienLorrain opened #59 "SCM-TFVC: Annotate is performed file by file, even though without violation"
When active, the plugin seems to annotate all files one by one, which can be seen in a profusion of requests in Fiddler. It seems to concern every file, not only those where violations were detected.

For a consequent project of more than 1000 files (with only 5 where violations actually occur), it runs for more than 1h of non-stop annotation.

Is it expected to remain that way or is there an opti

[2020-05-07 11:35] StefanAdel opened #60 "Blame information seems to be not properly retrieved for users at merges"
I've got a problem / request regarding the way how the plugin does resolve the blaming / annotation for source files from the TFS. In generell it works nicely, but when resolving the blame-user for a line which came to the TFS-branch by merging from another, it always shows just the merging-user, but not the real contributor of this line of code. This causes some problems, because the merge-user i

[2020-05-12 15:52] RobertKelly commented on #58
We are also seeing this issue with 8.3-enterprise.  It's definitely throwing a new exception and keeping us from upgrading to the 2.3+ version of this plugin.  We don't want to add the uri manually to each job.  This is happening for Azure DevOps git repos for us.

[2020-07-14 08:27] venudhar1 commented on #57
I'm getting the same issue with almost same configuration as above. Did anyone got the solution for the same. Appreciate if anyone could share the solution

[2020-09-18 22:38] danielabreu-cotacao commented on #58
We are also having this issue. We had to uninstall the plugin.

[2020-11-06 10:52] carloreggiani commented on #58
Same problem on SonarQube 7.9.1 (plugin version 2.3.0 build 73): GIT repo are recognized as TFVC!

[2020-11-18 14:31] pjmpsu commented on #58
We are attempting to add this plugin as well for a project that uses TFVC and it is causing our other scans to fail which are all Git repos.

[2021-01-22 13:41] rschaeferhig commented on #58
We also have this problem on both 7.9 and 8.6. We had to uninstall the plugin.

[2021-03-03 08:42] azharbroadpeak commented on #57
I am getting the same error.

[2021-03-25 14:21] surennandha commented on #58
Please update your Azure Devops URI alone without any pat token and enable the diable scm sensor toggle

![image](https://user-images.githubusercontent.com/67321110/112488381-7f4efa00-8da3-11eb-9b19-9a24f2e8ed5d.png)

[2021-04-06 09:38] lg2de commented on #59
Sorry for strong delay for my comment...

I've taken responsibility for the repository when it had not maintainer anymore. So, I'm not sure in all details because I'm not the original developer.
According to my understanding there is no optimization possible on plugin side. It implements an interface of the SonarQube analyzer. The plugin is requested to provide annotation information on request of

[2021-04-06 09:41] lg2de commented on #60
Sorry for the strong delay for my comment...

You description sounds close to #24. So far I could not reproduce this issue.
Please provide further details on the used versions: SonarQube server, analyzer version, TFS/DevOps version, plugin version, ...

[2021-04-06 09:51] lg2de commented on #57
Are there more information available in the analyzer output? Please provide as much details as possible from "begin analysis" and "end analysis" including command line options and analyzer output.

So far I'm using SQ 8.7 and plugin 2.3.0 with TFS/DevOps server 2019 without such issues.

Sorry for strong delay for my response: I cannot remember to have received mails for all these comments above..

[2021-04-06 09:58] lg2de commented on #58
I'm sorry for the strong delay. I'm wondering why I never realized all your comments.
I myself am using the plugin 2.3.0 in my company without any problem, so I did had contiguous view on this repository.

Yes, this could be an regression. I'll have a look on the changes soon.
Maybe you have an idea to resolve the initial issue together with this regression.

[2021-04-06 09:59] SebastienLorrain commented on #59
Hello Lukas,

Thanks for the answer ;)

The configuration in question in my case was a TFS server on another
continent, a code base of more than 40000 files.
The annotation of files one by one, would amount to a total of 3 to 4 hours
(just for annotation)

But hopefully, the code in the plugin is optimized so that files that are
not modified are not annotated again, which mildens the problem for
s

[2021-04-06 10:18] lg2de commented on #59
I realized that first time analysis takes very long time. But subsequent analysis sessions are even faster.
I guess the analyzer invoking the plugin API performs any kind of optimization!?

Is it ok to close this issue? At least at the moment I do not have any idea for such optimization within the plugin.
It would also be possible to mark this as "enhancement". Maybe someone else has an idea.

[2021-04-06 14:19] mikejhill commented on #58
Hi @lg2de, thanks for the reply. It seems like this issue only impacts non-TFVC repositories. It would be nice to be able to easily have projects from both TFVC and other repositories in tandem without having to configure anything extra for the non-TFVC repos. I wonder if a better solution to #22 would be to just have clear logging about the impact of an unconfigured URI (looks like these statemen

[2021-04-06 17:24] lg2de commented on #58
Would you like to test the version build from the PR?
https://ci.appveyor.com/project/lg2de/sonar-scm-tfvc/builds/38577462/artifacts

[2021-04-07 10:08] SebastienLorrain commented on #59
Sure, you can close

Thanks for answering!

On Tue, 6 Apr 2021 at 12:18, Lukas Grützmacher ***@***.***>
wrote:

[2021-04-07 11:26] #59 closed

[2021-04-07 19:11] StefanAdel commented on #60
hi Lukas, thanks for your answer!

It sounds somehow similar to the other issue, but I think it's not entirely the same. I don't really have those errors when branching. But when merging back it sounds pretty much like my problem. I don't get the codeline assigned to the real user, who did that change, but to the one who merged it back to the main branch. I think that's exactly what fmallet is des

[2021-04-07 20:50] mikejhill commented on #58
We unfortunately don't currently have an instance suitable for testing :( the changes seem like they're likely to fix it though. Maybe somebody else would be able to pick up the torch? Otherwise, I can see if I can find bandwidth to spin up a test instance sometime this week or next.

[2021-04-07 21:01] rschaeferhig commented on #58
We can't initially test it with TFVC but we can test whether or not it breaks Github. Will test tomorrow (4/8).

[2021-04-08 07:22] lg2de commented on #60
Could you please provide a step-by-step list to reproduce the (your) issue?
Then I can try optimize the code.

[2021-04-08 11:51] rschaeferhig commented on #58
We tested this version of the plugin with our Github-based builds and the scans completed. We received a warning about no TFVC but it did not fail the scan which was the original issue. Working with our TFS devs to get them to scan with the plugin.

[2021-04-09 12:27] StefanAdel commented on #60
Yes, of course. I'll try to reproduce it once more on my system to give you a 100% waterproof step-by-step list. I'll need some time to do this. Therefore please expect this list in approx. one week.

[2021-04-15 17:46] StefanAdel commented on #60
Hi Lukas,

I'm feeling a little bit stupid, but after retrying after this year it worked as it should. So I don't really know what happend. Either way I did something completely wrong one year ago or maybe the changes in the TFS version had some impact. Anyway it's ok and there's no wrong behaviour anymore. Thank you so much for your support!

[2021-04-15 17:46] #60 closed

[2021-04-30 14:40] muhyid commented on #57
Dear Lukas, @lg2de
I also have the same issue. I will try to explain the details in the following

My components:
SonarQube Server: Community Edition Version 8.8 (build 42792)
SonarScanner for .NET: sonar-scanner-msbuild-5.2.0.29862-net46
SonarScanner for Azure DevOps: 4.19.0
Azure DevOps Server Version Dev17.M153.5 (On-Premise)
TFVC Plugin: sonar-scm-tfvc-plugin-2.3.0-73
Windows Server 2016 (late

[2021-05-14 15:40] lg2de commented on #57
Sorry, but so far I've no idea what "TF400324" wants to tell us.

I found several post in the net which are unrelated to this plugin, but mentioning TF400324.
They advice to clear the cache on the agent. Would you please try to clear the cache and retry?

Additionally I've started a new PR with extended logging details.
Could you please retry with the testing version at https://ci.appveyor.com/api

[2021-05-18 10:53] lg2de commented on #57
I've tested the plugin with using "user name and password" instead of "PAT". This is working fine.
So, I've currently no idea to get a solution for your problem.

[2021-05-18 11:07] azharbroadpeak commented on #57
@lg2de: can you share the screen shot of annotation that is working with you and exact user name in sonar qube and scm ? and also your sonarqube is integrated with active directory ? both users are of same active directory?

[2021-05-18 11:25] azharbroadpeak commented on #57
by they way annotation is now working fine with 8.3.1.34397 free community version.

[2021-05-18 11:44] azharbroadpeak commented on #57
does issues are being assign to last commiter automatically?

[2021-05-18 13:27] lg2de commented on #57
Here is a screeshot of the configuration and the analysis. But, I think you will not get useful input. What are you looking for?
![image](https://user-images.githubusercontent.com/44983012/118658740-f37aac80-b7ec-11eb-8bbb-da16a0e86b9b.png)
![image](https://user-images.githubusercontent.com/44983012/118658502-bc0c0000-b7ec-11eb-9a6c-36c08c022458.png)

The sonarqube server is NOT integrated directl

[2021-05-18 14:10] azharbroadpeak commented on #57
sure thanks.🙂

[2021-05-21 18:55] lg2de commented on #58
Will be fixed with version 2.3.1.

[2021-05-21 18:55] #58 closed

[2021-07-15 12:12] rajagspann opened #66 "ERROR: SCM-TFVC: Unable to annotate the project. Exception: 'TF31002: Unable to connect to this Azure DevOps Server: https://dev.azure.com/example"
Hi Team,

When we ran SonarQube scan for source code which is available on TFS, we encountered the below error:

ERROR: SCM-TFVC: Unable to annotate the project. Exception: 'TF31002: Unable to connect to this Azure DevOps Server: https://dev.azure.com/example.

SonarQube version: version 8.6.1
Installed TFVC Plugin: TFVC 2.3.1 (build 115)

Please let us know what could be the issue?

As per below

[2021-07-19 09:36] rajagspann commented on #66
Hi Support team,

Could someone help us on above.

Raja

[2021-07-20 08:38] rajagspann commented on #66
Hi Team,

Any updates on above issue.

Regards,
Raja

[2021-08-04 16:01] rafaelbdacosta opened #67 "Implement ScmProvider.forkDate()"
SonarQube 8.4 has added support to use a reference branch for New Code. That requires **ScmProvider.forkDate()** to be implemented, as discussed at https://community.sonarsource.com/t/compute-new-code-for-branches-using-master-as-reference-on-tfvc/47439.

[2021-08-11 18:07] azharbroadpeak commented on #66
Hi TFVC team,
I am facing the same issue. Annotation was working just fine with-out any issue and then all of sudden it started again for all projects.
here is the version of sonarquebe that we are using.
![image](https://user-images.githubusercontent.com/48979387/129080573-118939da-aca2-4742-975f-955631b4e223.png)
TFVCTFVC SCM Provider for SonarQube | 2.3.1 (build 115)installed

![Sonar-annotatio

[2021-08-11 18:24] azharbroadpeak opened #68 "SCM-TFVC: Unable to annotate the project. Exception: 'TF30063: You are not authorized to access https://devops.xyz.com/abc/.'"
Hi TFVC team,
I am facing the above issue. Annotation was working just fine with-out any issue and then all of sudden it started failing for all projects.

Here is the Error Message :**SCM-TFVC: Unable to annotate the project. Exception: 'TF30063: You are not authorized to access https://devops.xyz.com/abc/.'**
here is the version of sonarquebe that we are using.
![image](https://user-images.githu

[2021-08-11 18:25] azharbroadpeak commented on #68
Hi team,
Please help out in above issue.

[2021-08-23 14:57] azharbroadpeak commented on #68
It seems tfvc plugin team is no more alive.:(

[2021-09-01 08:30] MagnusTim opened #69 "tfvc with Sonar 8.9 and later"
Hi,

I am trying to use this plugin with Sonar 8.9 but can't get it to work, is this project active?

Thanks

Magnus

[2021-09-06 06:57] lg2de commented on #69
What means active?
We are using this plugin with version 8.9.1 without known issues.
What problem do you have?

[2021-09-06 07:00] lg2de commented on #68
Please note that we are in holiday season...

I'm not sure, what kind of authorization you are using.
If TFS reports an authentication issue, maybe there is an authentication issue?
Please check if the user or its token is still valid.

[2021-09-06 07:05] lg2de commented on #67
Could you please explain a little bit more what is the expectation/use case?
Branches in TFVC a long living branches. Providing the "fork date" for a branch, the time range for "new code" will always increase. All code on the branch will be treat as new code. Is this what you expect?

[2021-09-06 07:10] lg2de commented on #66
Hey @rajagspann. There is no team. This is just me...

We are using this plugin with SQ 8.9.1 without known issues. But we are using standalone DevOps server. You are using DevOps services, right? I've never done that before for myself.
So far, I do not see a difference.

Are you sure that you do not have an authentication issue?
https://docs.microsoft.com/en-us/azure/devops/organizations/projects

[2021-09-06 12:12] MagnusTim commented on #69
Thanks, I will try again.

With Active I mean if someone is taking care of the plugin, I guess so, right?

[2021-09-07 11:28] azharbroadpeak commented on #68
We are using Azure Active directory for authentication. Every thing was fine and then this issue came up suddenly.

[2021-09-07 13:15] lg2de commented on #68
"came up suddenly" means: No change of plugin or its configuration?
Then it sounds even more like a change of DevOps behavior or its configuration.

[2021-09-07 13:27] azharbroadpeak commented on #68
Yes annotation was working fine with above mentioned tfvc plugin and version of SonarQube with all our DevOps build agents servers and related collections. But then above error start appearing for all governance pipelines. But no issues with Azure git repos. With azure git repos annotation is working fine no such authentication issue is appearing we are using same service connection and  same glob

[2021-09-07 14:26] lg2de commented on #68
But git and TFVC are not the same, also not in authorization in DevOps.

This plugin just uses the DevOps API to access the TFVC data.
If this API throws the mentioned failure, this is maybe not an issue for the plugin.

Unfortunately I cannot help if the problem is not reproducible to me.
For me it is working fine.
Please help to identify what was changed.

[2021-09-07 14:45] azharbroadpeak commented on #68
Thanks,  I will get back if I get something.

[2021-09-14 19:53] JackCrissey commented on #66
Hey @lg2de,
I am getting the same issue as above. I have pointed it to the correct project path and added a custom PAT token, but have had no luck with it connecting. I have also tried providing my credentials that I know work to access the project with zero luck. Do I need to target just the project or the explicit repo containing the project.

[2021-09-15 06:47] lg2de commented on #66
Are you using DevOps Services or DevOps Server (on premises)?
I only have experiences with the on-premises version. There I've created a PAT with the following options:
* Code (Full)
* Identity (Read & manage)

Please verify which options you have assigned to you PAT.

You should not "target" the project not the repo. Instead the configuration expects URI of the Project Collection. (In DevOps Serv

[2021-09-15 20:14] JackCrissey commented on #66
Removing the Project name resolved this issue however we are now running into the same issue as brought up in issue #40. We are using DevOps Services, so that could be causing it. However I have no clue what it means exactly by it not being mapped in a TFS workspace.

[2021-09-16 06:33] lg2de commented on #66
Ok, so I'll close this issue because it seems to be a configuration issue.

Issue 40 is already closed. So please open new issue for the new problem with all details, logs, etc.

[2021-09-16 06:33] #66 closed

[2021-09-22 12:47] anadriewen60 commented on #67
Hello,
I have the same problem with SonarQube 8.9.2.
What do you mean with 'all code on the branch will be treat as new code' ? what I need is to get the issues that have been added  to the code  after the date of the reference branch.

[2021-09-22 13:31] lg2de commented on #67
I guess you are using the TFVC branches as feature branches, means short to mid living branches. This is unusual according to my experience. But ok.
We can try whether and how to get the data from the TFVC api. This is some kind of research.
I'll mark it as feature (enhancement).
You are welcome to contribute.

[2021-09-22 13:34] lg2de commented on #69
I did not develop this plugin. I took the ownership after SonarSource stopped development.
I'll give my best to answer questions and to fix reproducible bugs.

I'll close this issue. Please update if you have more details.

[2021-09-22 13:34] #69 closed

[2021-09-22 13:38] lg2de commented on #57
Closing the issue for the moment. Feel free to update with more details.

[2021-09-22 13:51] anadriewen60 commented on #67
I'm not talking about TFVC branches but SonarQube branches. I mean a SQ branch is not related to a TFVC branch. We create a branch on SonarQube that doesn't exist on TFVC. I don't know if this can be a problem.
Where I work there are teams that are using SonarQube long branches to store the results of the analysis of the build that we release to the customers. For quality reasons we need to keep t

[2021-09-22 13:59] lg2de commented on #67
But the `forkDate` is related to the TFVC branch, isn't it?

[2021-09-22 14:01] anadriewen60 commented on #67
I don't know, I ask the SonarQube support for this. I suspect that this the real issue...

[2021-09-22 16:43] rafaelbdacosta commented on #67
This is what I expect on my case, where I use a feature branch for short development. I want to be able to spot new code smells (when comparing to my integration branch) while development is undergoing, and before they are integrated.

That's my understanding.

[2021-09-23 06:01] anadriewen60 commented on #67
yes, the forkDate is related to the TFVC branch, I had a look to the ScmProvider documentation

[2021-12-22 20:42] HipDragon commented on #68
@lg2de I just configured a new SonarQube server version 9.2.3 (build 50713), and installed this plugin to get the blame information. We are using TFVC from the Azure service, and are getting the same error message listed here. I have tried to use a token with full administrator rights with no success configured in the SonarQube server.

Our Azure DevOps TF setup has two repositories under it, not

[2022-01-26 17:48] lg2de commented on #68
Sorry for the strong delay.
So far I never used DevOps Services, so I had no experience.

Today I used my enterprise account to setup testing services instance.
Here it is working as expected (running fine with DevOps Server).

According to my experiance the following privileges are required for the PAT:
* Code (Full)
* Identity (Read & manage)

[2022-01-26 19:52] lg2de commented on #68
If you want to test without the pipeline, then you can use the embedded EXE directly.
I've changed the build script to provide the EXE as separate EXE.
Please have a look on https://ci.appveyor.com/project/lg2de/sonar-scm-tfvc/builds/42346364/artifacts

[2022-02-02 20:56] HipDragon commented on #68
Sorry for the delay in getting back to you, I downloaded the executable. Then ran it, which helps get the error messages much faster that running the pipelines to generate the errors.

Unfortunately I'm still getting the error "TF30063: You are not authorized to access <Collection UI>". Even after making sure my PAT has the privileges you indicated.

Is there anything else I can do to find the iss

[2022-02-03 09:11] lg2de commented on #68
:(

If you are familiar with C# you can fetch the solution and debug the application: https://github.com/lg2de/sonar-scm-tfvc/blob/master/SonarTfsAnnotate.sln

Further, please make sure that the PAT is created on collection level. This is the entry point used the application.
Can you share some more details?

[2022-02-03 12:10] Syed-Shahul-Hameed opened #71 ""sonar.tfvc.pat.secured" property return empty value when accessed from our plug-in code in latest Sonar 9.2.4 upgrade"
Hi Team,
We have an API call from our plug-in code which uses Personal Access Token. We used to make API call by providing value in "sonar.tfvc.pat.secured" property(till Sonar 8.9.6 version) . From Sonar 9.2.4 upgrade, "sonar.tfvc.pat.secured" property return empty value even after providing correct value in "sonar.tfvc.pat.secured" . Can you help us in accessing this value.
![PAT access issue](h

[2022-02-08 04:14] HipDragon commented on #68
So I downloaded and tried to sort out the issues I'm seeing. After changing the authentication type to ["Visual Studio sign-in prompt (Microsoft Account or Azure Active Directory backed) for SOAP services"](https://docs.microsoft.com/en-us/azure/devops/integrate/get-started/client-libraries/soapsamples?view=azure-devops) I can get it to work. Because that worked the issues is with my PAT. I'm stil

[2022-02-28 08:30] lg2de commented on #67
No, I do not plan to implement this.
You are welcome to contribute!
I'll take care on the code review and some regression testing.

[2022-03-14 09:14] lg2de commented on #71
Recently I updated my own system to SonarQube 9.3.0. I did not see an issue with the PAT.

Are you asking because of your own plugin?
Or did you faced a problem with sonar-scm-tfvc?

[2022-03-14 09:16] #68 closed

[2022-05-25 11:17] AliaksandrTseleshTR commented on #57
Hello! Looks like I am having a similar issue. We are using Azure DevOps Services with SonarQube extension v.5.4.0 and SonarQube 9.3 with sonar-scm-tfvc plugin v.2.3.1.

I'm passing these parameters during the 'Prepare analysis on SonarQube' step:
sonar.scm.provider=tfvc
sonar.tfvc.collectionuri=$(System.CollectionUri)
sonar.tfvc.pat.secured=$(ADO_PAT)

But getting this error during the execution:

[2022-05-25 13:08] lg2de commented on #57
@AliaksandrTseleshTR, which privileges/"Scopes" did you assigned to the generated PAT?
I'm using `Code (Full)` and `Identity (Read & manage)`.

[2022-05-25 14:28] #71 closed

[2022-05-25 14:29] lg2de commented on #57
Sorry, but I have still no idea what is wrong here.
In the past I tested successfully with DevOps services.

[2022-05-26 11:53] AliaksandrTseleshTR commented on #57
@lg2de Looks like I found the root cause of the issue. Microsoft deprecated usage of TLS 1.0/1.1 with Azure DevOps on March 31, 2022. https://devblogs.microsoft.com/visualstudio/azure-devops-requires-tls-1-2-on-all-connections-including-visual-studio/
I created a few registry keys to enable TLS 1.2 for all connections forcible, it works for me. But, I think, it would be better to update the plugin

[2022-05-26 16:57] AliaksandrTseleshTR commented on #57
I can't test it entirely because I don't have an access to the Sonar administrating. But I extracted SonarTfsAnnotate.exe and it works well with my PAT. So I think, this will work.

[2022-05-26 21:36] lg2de commented on #57
@AliaksandrTseleshTR, thanks for you investigation.
I've created the new release 2.4.0 (because of updating .NET Framework to 4.7.2).

[2022-05-26 21:36] #57 closed

[2022-05-29 18:14] HipDragon commented on #68
Update, I was able to build the project and figured out the PAT access with the project SonarTfsAnnotate. So locally I can get it to ask to annotate files and that is working correctly in the project.

However I'm still getting the error message on the pipeline, I have updated the PAT and URI to make sure it matches what I tested in SonarTfsAnnotate. I have also updated the plugin to version 2.4,

[2022-05-30 07:16] lg2de commented on #68
I do not have troubleshooting tips because I do not have experience with different systems.

If you get correct result with SonarTfsAnnotate.exe and failure in the pipeline, it should be related to the configuration.
Recently I have made the experience that you must not provide username or password when using the PAT.
Please check your configuration. Maybe you can share some screenshots.

[2022-05-31 17:55] HipDragon commented on #68
Below is the screenshot of the tfvc configuration screen, as you can see no username or password is entered there. I put the PAT value into the pipeline directly and it works, which leads me to believe it's not going from SonarQube to Azure pipelines correctly. Any way to see what is being passed into the pipeline from SonarQube? I can also directly access the SonarQube database, and noticed the v

[2022-06-01 07:27] lg2de commented on #68
I've added some more debug output to the annotate exe.
Please check the testing artifact from PR #70.
Hope we get further details. Please share the pipeline log, as detailed as possible.

[2022-06-09 03:27] HipDragon commented on #68
Sorry it took so long to get this going.

I have more details, there is a file called SonarQubeAnalysisConfig.xml that is created in the pipeline _work folder, for this run it was _work/4/.sonarqube/config, it contains an xml tag ServerSettings that list all the settings passed from SonarQube to the pipeline during the Prepare analysis on SonarQube step. There is this tag <Property Name="sonar.tfv

[2022-07-22 10:51] lg2de commented on #68
I've revised the PR #70 because you are right, the new debugging information was not visible.
Now you should see output like this:

12:33:44.858 DEBUG: SCM-TFVC: Executing the TFVC annotate command: c:\buid\_work\525\.sonarqube\out\.sonar\.sonartmp\SonarTfsAnnotate9815944869301069612.exe
12:33:47.749 DEBUG: SCM-TFVC: received output: <Enter your credentials - username, password, PAT (three separat

[2022-10-21 07:35] nhvduy commented on #68
Hello @lg2de
I am happy when I found your extension, @lg2de.
I am using TFS 2018 and my source code is in TFVC. I downloaded latest version 2.4.0 of SCM TFVC extension. I noticed that the extension sometimes does not work as expected. Sometimes I got the error message "TF30063: You are not authorized to access https://devops.xyz.com/abc/". There is nothing changes in the configuration as well as t

[2022-10-21 10:42] lg2de commented on #68
@nhvduy can you please share more details as mentioned above?
Please note that this issue is already closed.
Please note that I can only help issues which are reproducible.

[2022-10-24 10:23] nhvduy commented on #68
Thanks @lg2de for your response. I am not sure how the issue is reproduced.
I use TFS 2018 and our code repository is in TFVC and the enterprise sonar license. I downloaded the latest SCM TFVC extension version. The build agent is not changed, but sometime I got error of Unauthorized to TFVC.
Here is the logs:

17:05:07.020 INFO: SCM Publisher SCM provider for this project is: tfvc
17:05:07.020 IN

[2022-10-24 14:49] lg2de commented on #68
This is nothing what I can debug or fix.
If the problem is transient I do not have any idea.

[2022-11-29 20:29] mikegscr commented on #68
Hi everyone!
I am also having the same problem. What I have noticed from the debug information is that the scanner is adding a dot to the end of the URL (that's how it stays in the Azure Pipeline log) , when clicking on the URL, it gets the same error (You are not authorized to access) and it is because this "dot" modifies the name of the project.

Hope this helps to find the cause of the problem!

[2022-11-30 01:55] nhvduy commented on #68
Hello @mikegscr
Did you resolve the issue? How could you remove the extra "." at the end of the URL?

[2022-11-30 12:17] lg2de commented on #68
Please share the debug log, or at least the relevant part.
Then I can check if the additional "dot" comes from the plugin.
Maybe it is only a problem in the visualization, the kind of creating log output.

[2022-11-30 22:21] mikegscr commented on #68
Hi @lg2de , here is the log section where the URL have this extra dot
![image](https://user-images.githubusercontent.com/79493045/204920323-ef20811d-b1cc-4309-b306-004e5c7ce45a.png)

When i try to open that url it fails in azure devops because of the "dot"
![image](https://user-images.githubusercontent.com/79493045/204920546-0f2879de-05c4-4069-9707-dc97d46c85a7.png)

Tell me if you need more infor